html,
body {
  width: 100%;
  height: 100%;
}
section {
  padding: 100px 0;
}

.customNav {
  background-color: white !important;
  position: fixed;
  width: 100%;
  background-size: cover;
  z-index: 10;
  font-weight: 200;
  letter-spacing: 2px;
}

.jumbotron {
  background: rgb(249, 212, 141, 0.8);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(90vh - 25px);
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
}

header.jumbotron .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}
header.jumbotron .header-content h1 {
  font-size: 40px;
}
header.jumbotron .My-photo {
  max-width: 500px;
  border: 15px solid white;
}
/* .aboutme {
  background-color: rgb(249, 212, 141, 0.8);
} */
.aboutme {
  margin-top: 100px;
}
.myimage {
  max-width: 400px;
  margin-left: 80px;
  border: 10px solid rgb(249, 212, 141, 0.8);
  /* border-radius: 5px; */
  border-style: none none solid solid;
}
.heading {
  font-size: 50px;
}
.About-me {
  margin-left: 200px;
}
.cardone {
  /* background-image: url(./images/horiseon2.png); */
  background-size: cover;
  background-repeat: no-repeat;
}
