html,
body {
  width: 100%;
  height: 100%;
}
section {
  padding: 100px 0;
}
body {
  font-family: "Inter", sans-serif;
}
/*Customize nav color, position fixed*/
.customNav {
  background-color: white !important;
  position: fixed;
  width: 100%;
  background-size: cover;
  z-index: 10;
  font-weight: 200;
  letter-spacing: 2px;
}
/*Nav-link black color but when hover it will be yellow*/
.nav-link {
  color: black;
  font-size: 20px;
  margin-left: 10px;
}
.nav-link:hover {
  color: rgb(208, 143, 15);
}
.mb-5 {
  color: white;
}
.lead {
  color: white;
}
/*Customize jumbotron*/
.jumbotron {
  background: rgb(0, 0, 0, 0.7);
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 10px;
}

.jumbotron .header-content {
  /* max-width: 500px; */
  text-align: center;
}
.jumbotron .header-content h1 {
  font-size: 40px;
}
.jumbotron .My-photo {
  border: 15px solid white;
}
/*Changed background in the main button and changed whe hover */
.btn-main {
  margin-top: 40px;
  color: white;
  border: 2px solid white;
  box-shadow: 4px 2px 2px rgb(0, 0, 0, 0.7);
  border-radius: 30px;
  padding: 10px 50px;
  font-size: 20px;
  background-color: transparent;
}
.btn-main:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
}
/*Added a margin top to spareted jumbotron to the next section*/
.aboutme {
  margin-top: 100px;
}
/*Customize image*/
.myimage {
  max-width: 400px;
  margin-left: 80px;
  border: 10px solid rgb(249, 212, 141, 0.8);
  /* border-radius: 5px; */
  border-style: none none solid solid;
}
.heading {
  font-size: 50px;
}
/*Customize icons*/
.develop,
.phone,
.coffee {
  color: rgb(208, 143, 15);
  font-size: 30px;
  margin-bottom: 10px;
}
.card {
  border: none;
}
.Worksection {
  /* margin-left: 250px; */
  font-size: 50px;
  margin-bottom: 30px;
  color: rgb(0, 0, 0, 0.7);
  text-align: center;
}
.Frontend {
  margin-left: 200px;
  margin-bottom: 50px;
}
.card-img {
  padding-bottom: 10px;
}
/*Added background color in main section*/
section.Card-main {
  background-color: rgb(249, 212, 141, 0.6) !important;
}
/*customize cards with colors*/
.cardone {
  /* background-color: #2a607c; */
  color: #2a607c;
}
/*Customize buttons with color and changed border color. When hover changed for other color*/
.button {
  color: #2a607c;
  border: 2px solid #2a607c;
}
.button:hover {
  background-color: #2a607c;
  color: white;
  border: 2px solid #2a607c;
}

.card-title-two {
  color: rgb(208, 143, 15);
}
.buttontwo {
  color: rgb(208, 143, 15);
  border: 2px solid rgb(208, 143, 15);
}
.buttontwo:hover {
  background-color: rgb(208, 143, 15);
  color: white;
  border: 2px solid rgb(208, 143, 15);
}
.card-title-one,
.card-title-four,
.card-title-two,
.card-title-three,
.card-title-five {
  font-size: 25px;
}
.uxdesign {
  margin-left: 200px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.cardfour {
  color: #bd5151;
}
.buttonfour {
  color: #bd5151;
  border: 2px solid #bd5151;
  /* box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7); */
}
.buttonfour:hover {
  background-color: #bd5151;
  color: white;
  border: 2px solid #bd5151;
}
.cardfive {
  color: #03164b;
}
.buttonfive {
  color: #03164b;
  border: 2px solid #03164b;
  /* box-shadow: 2px 4px 4px rgb(0, 0, 0, 0.7); */
}
.buttonfive:hover {
  background-color: #03164b;
  color: white;
  border: 2px solid #03164b;
}
/* Costumize icons social media, give them color and text shadow. When hover changed for yellow*/
.social a {
  font-size: 40px;
  margin-left: 10px;
  color: rgb(0, 0, 0, 0.7);
  text-shadow: 0px -1px 1px rgb(0, 0, 0, 0.3);
}

.social a:hover {
  color: rgb(208, 143, 15);
  text-shadow: 0 -1px 1px rgb(208, 143, 15);
}

/*To have a picture the way I like i have to add a heigh in jumbotron*/
@media screen and (min-width: 992px) {
  .jumbotron {
    height: calc(100vh - 175px);
  }
  /*Added border in skills to sparate from each other but it will only show in big screens*/
  .border-lg {
    border-right: 1px solid rgb(0, 0, 0, 0.1);
  }
}
/*I use media query when the screen is smaller I have my content align in center*/
@media screen and (max-width: 600px) {
  .container {
    justify-content: center;
  }
  .mylife {
    text-align: center;
  }
}
